<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>payrollsystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SerUpdateAllowance</display-name>
    <servlet-name>SerUpdateAllowance</servlet-name>
    <servlet-class>com.payrollsystem.servlets.SerUpdateAllowance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerUpdateAllowance</servlet-name>
    <url-pattern>/SerUpdateAllowance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerAllowanceAdd</display-name>
    <servlet-name>SerAllowanceAdd</servlet-name>
    <servlet-class>com.payrollsystem.servlets.SerAllowanceAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerAllowanceAdd</servlet-name>
    <url-pattern>/SerAllowanceAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerDeductionAdd</display-name>
    <servlet-name>SerDeductionAdd</servlet-name>
    <servlet-class>com.payrollsystem.servlets.SerDeductionAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerDeductionAdd</servlet-name>
    <url-pattern>/SerDeductionAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerDeductionUpdate</display-name>
    <servlet-name>SerDeductionUpdate</servlet-name>
    <servlet-class>com.payrollsystem.servlets.SerDeductionUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerDeductionUpdate</servlet-name>
    <url-pattern>/SerDeductionUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerDepartmentAdd</display-name>
    <servlet-name>SerDepartmentAdd</servlet-name>
    <servlet-class>com.payrollsystem.servlets.SerDepartmentAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerDepartmentAdd</servlet-name>
    <url-pattern>/SerDepartmentAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerDepartmentUpdate</display-name>
    <servlet-name>SerDepartmentUpdate</servlet-name>
    <servlet-class>com.payrollsystem.servlets.SerDepartmentUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerDepartmentUpdate</servlet-name>
    <url-pattern>/SerDepartmentUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerAttendanceAdd</display-name>
    <servlet-name>SerAttendanceAdd</servlet-name>
    <servlet-class>com.payrollsystem.servlets.SerAttendanceAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerAttendanceAdd</servlet-name>
    <url-pattern>/SerAttendanceAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerAttendanceUpdate</display-name>
    <servlet-name>SerAttendanceUpdate</servlet-name>
    <servlet-class>com.payrollsystem.servlets.SerAttendanceUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerAttendanceUpdate</servlet-name>
    <url-pattern>/SerAttendanceUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerLeaveAdd</display-name>
    <servlet-name>SerLeaveAdd</servlet-name>
    <servlet-class>com.payrollsystem.servlets.SerLeaveAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerLeaveAdd</servlet-name>
    <url-pattern>/SerLeaveAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerLeaveUpdate</display-name>
    <servlet-name>SerLeaveUpdate</servlet-name>
    <servlet-class>com.payrollsystem.servlets.SerLeaveUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerLeaveUpdate</servlet-name>
    <url-pattern>/SerLeaveUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerPublicHolidayAdd</display-name>
    <servlet-name>SerPublicHolidayAdd</servlet-name>
    <servlet-class>com.payrollsystem.servlets.SerPublicHolidayAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerPublicHolidayAdd</servlet-name>
    <url-pattern>/SerPublicHolidayAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerPublicHolidayUpdate</display-name>
    <servlet-name>SerPublicHolidayUpdate</servlet-name>
    <servlet-class>com.payrollsystem.servlets.SerPublicHolidayUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerPublicHolidayUpdate</servlet-name>
    <url-pattern>/SerPublicHolidayUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerQualificationAdd</display-name>
    <servlet-name>SerQualificationAdd</servlet-name>
    <servlet-class>com.payrollsystem.servlets.SerQualificationAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerQualificationAdd</servlet-name>
    <url-pattern>/SerQualificationAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerQualificationUpdate</display-name>
    <servlet-name>SerQualificationUpdate</servlet-name>
    <servlet-class>com.payrollsystem.servlets.SerQualificationUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerQualificationUpdate</servlet-name>
    <url-pattern>/SerQualificationUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerSalaryAdd</display-name>
    <servlet-name>SerSalaryAdd</servlet-name>
    <servlet-class>com.payrollsystem.servlets.SerSalaryAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerSalaryAdd</servlet-name>
    <url-pattern>/SerSalaryAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerSalaryUpdate</display-name>
    <servlet-name>SerSalaryUpdate</servlet-name>
    <servlet-class>com.payrollsystem.servlets.SerSalaryUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerSalaryUpdate</servlet-name>
    <url-pattern>/SerSalaryUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerUserAdd</display-name>
    <servlet-name>SerUserAdd</servlet-name>
    <servlet-class>com.payrollsystem.servlets.SerUserAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerUserAdd</servlet-name>
    <url-pattern>/SerUserAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SerUserUpdate</display-name>
    <servlet-name>SerUserUpdate</servlet-name>
    <servlet-class>com.payrollsystem.servlets.SerUserUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SerUserUpdate</servlet-name>
    <url-pattern>/SerUserUpdate</url-pattern>
  </servlet-mapping>
</web-app>